@{
    ViewData["Title"] = "Soil Monitoring";
}

<div class="text-center" style="left">
    <h1 class="display-4">Sensor 1</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Sensor 2</h1>
</div>

<div class="text-center" style="right">
    <h1 class="display-4">Sensor 3</h1>
</div>